<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageUploader.Properties.Settings.ImageUploadConnectionString"
            connectionString="Data Source=LAPTOP-92TRGVJ3\SQLEXPRESS;Initial Catalog=ImageUpload;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>